# Review Analysis

In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
# Step 1

high_total_votes_df = vine_df.loc[vine_df["total_votes"] >= 20, :]
high_total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [4]:
# Step 2
vote_ratio = (high_total_votes_df["helpful_votes"])/(high_total_votes_df["total_votes"])
more_helpful_df = high_total_votes_df.loc[vote_ratio > 0.5, :]
more_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [13]:
# Step 3
paid_users_df = more_helpful_df.loc[more_helpful_df["vine"] == "Y", :]
paid_users_df.head()

170

In [6]:
# Step 4
unpaid_users_df = more_helpful_df.loc[more_helpful_df["vine"] == "N", :]
unpaid_users_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [16]:
# Step 5

total_reviews = vine_df.shape[0]
five_star_reviews = (vine_df.loc[vine_df["star_rating"] == 5.0, :]).shape[0]
paid_reviews = paid_users_df.shape[0]
unpaid_reviews = unpaid_users_df.shape[0]
five_star_paid = (paid_users_df.loc[paid_users_df["star_rating"] == 5.0, :]).shape[0]
five_star_unpaid = (unpaid_users_df.loc[unpaid_users_df["star_rating"] == 5.0, :]).shape[0]

five_star_percent_paid = five_star_paid/paid_reviews
five_star_percent_unpaid = five_star_unpaid/unpaid_reviews


print(f'Total Reviews: {total_reviews:,}\nFive Star Reviews: {five_star_reviews:,}\nFive Star Percent (Paid): {five_star_percent_paid:.2%}\nFive Star Percent (Unpaid): {five_star_percent_unpaid:.2%}\nVine Reviews: {paid_reviews}\nNon-Vine Reviews: {unpaid_reviews:,}')
print(f'Five Stars (Vine): {five_star_paid:,}\nFive Stars (Non-Vine): {five_star_unpaid:,}')

Total Reviews: 2,643,619
Five Star Reviews: 1,645,553
Five Star Percent (Paid): 38.24%
Five Star Percent (Unpaid): 54.53%
Vine Reviews: 170
Non-Vine Reviews: 37,790
Five Stars (Vine): 65
Five Stars (Non-Vine): 20,605